[submodule "Theme - Nexus"]
	path = Theme - Nexus
	url = git://github.com/EleazarCrusader/nexus-theme.git
[submodule "Local History"]
	path = Local History
	url = git://github.com/vishr/local-history
[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = git://github.com/titoBouzout/SideBarEnhancements
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = git://github.com/Kronuz/SublimeCodeIntel
[submodule "Alignment"]
	path = Alignment
	url = git://github.com/wbond/sublime_alignment
[submodule "Package Control"]
	path = Package Control
	url = git://github.com/wbond/sublime_package_control
[submodule "IndentGuides"]
	path = IndentGuides
	url = git://github.com/SublimeText/IndentGuides
